<div class="ui vertical footer segment" style="background-color: #EEEEEE;">
<div class="ui container" style="padding:30px;">
  <div class="ui horizontal divided equal height stackable grid">
    <div class="four wide column">
      <h4 class="ui header">About</h4>
      <div class="ui link list">
        <a href="#" class="item">Sitemap</a>
        <a href="#" class="item">Contact Us</a>
        <a href="#" class="item">Religious Ceremonies</a>
        <a href="#" class="item">Gazebo Plans</a>
      </div>
    </div>
    <div class="six wide column">
      <h4 class="ui header">Services</h4>
      <div class="ui link list">
        <a href="#" class="item">Banana Pre-Order</a>
        <a href="#" class="item">DNA FAQ</a>
        <a href="#" class="item">How To Access</a>
        <a href="#" class="item">Favorite X-Men</a>
      </div>
    </div>
    <div class="six wide column">
      <h4 class="ui header">Statistics</h4>
      <div class="ui tiny statistics" style="padding-top: 15px">
        <div class="statistic">
          <div class="value">
          <i class="newspaper icon"></i>
            2
          </div>
          <div class="label">Publications </div>
        </div>
        <div class="statistic">
          <div class="value">
          <i class="file powerpoint outline icon"></i>
            1
          </div>
          <div class="label">Patent </div>
        </div>
        <div class="statistic">
          <div class="value">
          <i class="plane icon"></i>
            12
          </div>
          <div class="label">Flights </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>