{% extends 'base.html' %}
{% load humanize %}

{% block title %} Courses | {{ block.super }} {% endblock title %}

{% block content %}

    <p class="ui container" style="padding: 30px;">

        <div class="ui large header">
            Video Detail
        </div>

        {% include "courses/course_search.html" with request=request %}

        {{ object.description | safe }}
        {{ object.display_price }}


        {% for item in object.lecture_set.all %}
            <li>{{ item.order }}<a href="{{ item.get_absolute_url }}">
                {{ item.title }}</a>
            </li>

            {% empty %}
            <li>No lecture found.</li>
        {% endfor %}

{% endblock content %}